#board {

	width: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: black; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.row {
	width: 100%;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: black;
	background: green;
}

.tile {
	float: left;
	width: 12%;
	height: 12px;
	border-right-style: solid;
	border-right-color: black;
	border-right-width: 1px;
	background: gray;
}

#tile-88{
	background: orange;
}

#tray {
	margin: auto;
	background: brown;
}